{% extends 'parent.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     {% block body_block %}
     <center>
        <h1>first child </h1>
        
        <h2>second child</h2>
        <button class="btn btn-danger">welocme to child</button>
    </center>
    
    {% endblock %}



     <center>
        <h1>first child </h1>
        
        <h2>second child</h2>
        <button class="btn btn-danger">welocme to child</button>
    </center>
</body>
</html>